@model CineHub.Models.Vstopnica

@{
    ViewData["Title"] = "Create";
}
<style>
    a{
        text-decoration: none;
    }
</style>
<h1>Nakup vstopnice</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="stVstopnic" class="control-label">Vnesite število kart, ki jih želite kupiti.</label>
                <input asp-for="stVstopnic" class="form-control" min="1" max ="5"/>
                <span asp-validation-for="stVstopnic" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="kupljena" />
                    Rezerviraj vstopnico
                </label>
            </div>
            <div class="form-group">
                <input asp-for="terminFilmaId" class="form-control" value="@Model.terminFilmaId" type ="hidden"/>
                <span asp-validation-for="terminFilmaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Nakup" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

